@using System.Security.Claims
@inherits LayoutComponentBase

<PageTitle>Chinook</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu CurrentUserId="@CurrentUserId" NavigationItems="@NavigationItems" />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
        </div>

        <article class="content px-4">
           @*  Our dynamic body content is surrounded by a ErrorBoundary, The idea of it is displaying a user friendly message to the user when an error occurred *@
            <ErrorBoundary @ref=ErrorBoundary>
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent>
                    <div class="alert alert-danger fade show">
                        <div class="d-flex align-items-start">
                            <div class="flex-grow-1">
                               Something went wrong!!
                            </div>
                        </div>
                    </div>
                </ErrorContent>
            </ErrorBoundary>
        </article>
    </main>
</div>


@code{
    [CascadingParameter] private Task<AuthenticationState> AuthenticationState { get; set; }
    [Inject] NavigationService NavigationService { get; set; }

    private ErrorBoundary? ErrorBoundary; 
    private string CurrentUserId;
    private List<NavigationItem> NavigationItems;

    protected override async Task OnInitializedAsync()
    {
        CurrentUserId = await GetUserId();
        NavigationItems = NavigationService.GetNavigationItems(CurrentUserId);
        StateHasChanged();
    }

    protected override void OnParametersSet()
    {
        //Here, We recover the error in order to prevent breaking other components or functionalitites. Then the user dont need to reload the application to get rid of unexpected error messages
        ErrorBoundary?.Recover(); 
    }

    private async Task<string> GetUserId()
    {
        var user = (await AuthenticationState).User;
        var userId = user.FindFirst(u => u.Type.Contains(ClaimTypes.NameIdentifier))?.Value;
        return userId;
    }
}
