@using System.Security.Claims
@attribute [Authorize]

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Chinook</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>Home
            </NavLink>
        </div>

        @if (NavigationItems != null && NavigationItems.Count > 0 )
        {
            @foreach (var navigationItem in NavigationItems)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href=@navigationItem.Url>
                        <i class="bi bi-music-note-list me-3" style="font-size: 1.25em"></i>
                        @navigationItem.DisplayName
                    </NavLink>
                </div>
            }
        }
    </nav>
</div>

@code {
    [CascadingParameter] private Task<AuthenticationState> AuthenticationState { get; set; }
    [Inject] INavigationService NavigationService { get; set; }

    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private string CurrentUserId;
    private List<NavigationItem> NavigationItems;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task<string> GetUserId()
    {
        var user = (await AuthenticationState).User;
        var userId = user.FindFirst(u => u.Type.Contains(ClaimTypes.NameIdentifier))?.Value;
        return userId;
    }

    private async Task<List<NavigationItem>> GetNavigationItems()
    {
        return await NavigationService.GetNavigationItems(CurrentUserId);
    }

    protected override async Task OnInitializedAsync()
    {
        CurrentUserId = await GetUserId();

        NavigationItems = await GetNavigationItems();
    }
}
